{% extends "base.html" %}

{% block head %}
<title>Posts</title>
{% endblock %}

{% block content %}

<hr>
<h2>Create New Post</h2>
<form action="/posts" method="POST">
    Title: <input type="text" name="title" id="title" placeholder="Title">
    <br>
    Post: <input type="text" name="content" id="content" placeholder="Content">
    <br>
    <input type="submit" value="Post">

</form>
<hr>


<h1>All Posts</h1>
{% for post in posts %}
    <h3>{{post.title}}</h3>

    {% if post.author %}
    <h3>By: {{post.author}}</h3>
    {% else %}
    <h3>By: N/A</h3>
    {% endif %}

    <p>{{post.content}}</p>
{% endfor %}
{% endblock %}